/*
Author: UTSGhost
*/
@font-face {
    font-family: 'Nunito';
    src: url('font/Nunito-VariableFont_wght.woff2') format('woff2'),
         url('font/Nunito-VariableFont_wght.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

:root {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-size: 17px;
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(211, 211, 211); 
    font-weight: bold;
}
@media screen and (max-width: 1212px) {
    :root{
        overflow-x: scroll;
    }
  }

a {
    color: rgb(169, 182, 255);
}
table {
    background-color: rgb(53, 53, 53);
    border-spacing: 0px;
}
#full {
    display: flex;
    position: absolute;
    top:0px;
    left:0px;
    flex-direction: row;
}
.mid, h1 {
    font-size: 50px;
}
.maintitle {
    height:10vw;
}
.counterth {
    width: 3%;
}
#counterbody {
    border-right: 1px white solid;
}
table{
    border-collapse: collapse;
}
#counterbody tr, .mainrow{
    height: 264px;
    border:1px solid white;
}
.red {
    height: 76px;
    width: 100%;
    font-size: 13px;
}
.blue {
    border-spacing: 10px;
    font-size: 11px;
    width: 100%;
    border-right: 1px white solid;
    height: 48px;
}
.green {
    width:100%;
    border-top: 1px rgb(114, 114, 114) solid;
    height: 110px;
}
.green th{
    font-size: 15px;
}
.name {
    width: 900px;
    background-color:khaki
}
#foo tr td {
    padding: 0px;
}
.bar > th{
    background-color: rgb(32, 32, 32);
    font-size: 20px;
    height: 60px;
    padding: 0px;
}
.ratinglist{
    text-align: left;
}
.asc{
    width: 10px;
}
.desc{
    width: 10px;
    transform: rotate(180deg);
}
#meanscoreplace{
    text-align: left;
    font-size: 30px;
}
.season, .type{
    width: 11%;
}
.img{
    width: 7%;
    text-align: left;
}
.img img{
    height: 150px;
    vertical-align: middle;
    max-width:158px;
}
.number{
    width: 7%;
}
.title, .alttitle{
    width:25%;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.mal_rating{
    width:11% !important;
}
#mainTable{
    width:100vw;
}
.celltable{
    width: 100%;
}


/*Dropdown*/
/* Dropdown Button */
.dropbtn {
    background-color: rgb(53, 53, 53);
    color: rgb(211, 211, 211); 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width:135px;
    height:40px;
    font-size: 30px;
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
  


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 997;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(32, 32, 32); 
    width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10px;
}
  
.dropdown-content table {
    background-color: rgb(32, 32, 32);
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding:5px 5px;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color:rgb(180, 176, 165);
  }
  

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(180, 176, 165);}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(39, 39, 39); /* Set a background color */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition: opacity 0.5s ease-out !important;
    opacity: 0;
  }
  
  #myBtn:hover {
    background-color: rgb(180, 176, 165); /* Add a dark-grey background on hover */
  }

  #myBtn img {
    height: 40px;
  }
  html {
    scroll-behavior: smooth;
  }

.malbutton {
    color:rgb(211, 211, 211);
    text-decoration: none;
}

.malbutton:hover {
    color:rgb(180, 176, 165);
}

.hoverrating{
    display:none;
    background-color: #353535;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height:150px;
}





#info {
    font-size: 30px;
    color:rgb(211, 211, 211);
    background-color: #353535;
    border:none;
    font-family:'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#info:hover, .info:focus {
    color:rgb(180, 176, 165);
}


#infobox {
    display:none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(180, 176, 165);
    padding: 20px;
    width:1300px;
    height:auto;
    opacity: 0.95;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content:center;
  }

.explain_all {
    display:none;
    position: absolute;
    background-color: rgb(32, 32, 32);
    width:90%;
    height:auto;
    z-index: 2;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 40px;
    opacity: 0.95;
    padding: 5%;
    min-width: 100px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    max-height:90vw;
    max-width:70%;
}
.explain_aftertaste{
    left: 35%;
}
td{
    position: relative;
}
@media screen and (max-width: 1835px) {
    .explain_aftertaste{
        left: 15%;
    }
}

@media screen and (max-width: 1380px) {
    #infobox {
        font-size: 14px;
        max-width: 80vw;
        max-height:90vw;
    }
}
@media screen and (max-width: 900px) {
    #infobox {
        font-size: 10px;
        max-width: 80vw;
        max-height:90vw;
    }
}
@media screen and (max-width: 610px) {
    #infobox {
        font-size: 7px;
        max-width: 90vw;
    }
}
@media screen and (max-width: 406px) {
    #infobox {
        display:none !important;
    }
}
@media screen and (max-height: 717px) {
    #infobox {
        font-size: 14px;
        max-width: 80vw;
        max-height:90vw;
    }
}
@media screen and (max-height: 560px) {
    #infobox {
        font-size: 10px;
        max-width: 80vw;
        max-height:90vw;
    }
}
@media screen and (max-height: 370px) {
    #infobox {
        display:none !important;
    }
}


.characters_score:hover .explain_obj_character{
    display:flex;
}
.hover_protag:hover .explain_protag{
    display:flex;
}

.hover_antag:hover .explain_antag{
    display:flex;
}
.hover_side:hover .explain_side{
    display:flex;
}
.hover_real:hover .explain_real{
    display:flex;
}
.hover_plot:hover .explain_plot{
    display:flex;
}
.hover_logical:hover .explain_logical{
    display:flex;
}
.hover_ending:hover .explain_ending{
    display:flex;
}
.hover_op:hover .explain_op{
    display:flex;
}
.hover_sfx:hover .explain_sfx{
    display:flex;
}
.hover_ost:hover .explain_ost{
    display:flex;
}
.hover_va:hover .explain_va{
    display:flex;
}
.hover_animation:hover .explain_animation{
    display:flex;
}
.hover_characterdesign:hover .explain_characterdesign{
    display:flex;
}
.hover_world:hover .explain_world{
    display:flex;
}
.hover_strongemotions:hover .explain_strongemotions{
    display:flex;
}
.hover_vibe:hover .explain_vibe{
    display:flex;
}
.hover_:hover .explain_{
    display:flex;
}
.hover_climax:hover .explain_climax{
    display:flex;
}
.hover_satisending:hover .explain_satisending{
    display:flex;
}
.hover_scenes:hover .explain_scenes{
    display:flex;
}
.hover_enjcontent:hover .explain_enjcontent{
    display:flex;
}
.hover_like:hover .explain_like{
    display:flex;
}
.hover_waifus:hover .explain_waifus{
    display:block;
}
.hover_relation:hover .explain_relation{
    display:flex;
}
.hover_addictive:hover .explain_addictive{
    display:flex;
}
.hover_nostalgia:hover .explain_nostalgia{
    display:flex;
}
.hover_aftertaste:hover .explain_aftertaste{
    display:flex;
}
.writing_score:hover .explain_writing{
    display:flex;
}
.sound_score:hover .explain_sound{
    display:flex;
}
.art_score:hover .explain_art{
    display:flex;
}
.emotions_score:hover .explain_emotions{
    display:flex;
}
.content_f_score:hover .explain_story{
    display:flex;
}
.characters_f_score:hover .explain_subj_characters{
    display:flex;
}
.memory_score:hover .explain_memory{
    display:flex;
}

.review button {
    background-color: #353535;
    color:rgb(211, 211, 211);
    font-size: 17px;
    border:rgb(211, 211, 211) solid 2px;
    padding:15px;
    border-radius: 5px;
}
.review button:hover {
    cursor: pointer;
    background-color:rgb(32, 32, 32);
    border:rgb(211, 211, 211) solid 3px;
}

.ratingbox {
    width:86%;
}



