body {
    text-align: center;
    font-size: 17px;
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(211, 211, 211); 
    font-weight: bold
}
:root{
    overflow-x: hidden;
    overflow-y: auto;
}
a {
    color: rgb(169, 182, 255);
}
table {
    background-color: rgb(53, 53, 53);
    border-spacing: 0px;
}
#full {
    display: flex;
    position: absolute;
    top:0px;
    left:0px;
    flex-direction: row;
}
#mt, #ft{
    display:inline-block;
}
.mid, h1 {
    font-size: 50px;
}
.maintitle, .mid {
    height: 140px;
}
th,td{
    border-collapse: collapse;
}
#counterbody tr, .celltable{
    height: 264px;
    border:1px solid white;
}
#counterbody tr td{
    border:1px solid white;
}
.red {
    padding-top: 5px;
    width: 100%;
    font-size: 13px;
}
.blue {
    border-spacing: 10px;
    font-size: 11px;
    width: 100%;
    border-right: 1px white solid;
}
.green {
    width:100%;
    border-top: 1px rgb(114, 114, 114) solid;
    padding-top: 5px;
}
.green th{
    font-size: 15px;
}
.name {
    width: 900px;
    background-color:khaki
}
#foo tr td {
    padding: 0px;
}
.bar > th, .greyrow{
    background-color: rgb(32, 32, 32);
    font-size: 20px;
    height: 60px;
    padding: 0px;
}
.ratinglist{
    text-align: left;
}
.asc{
    width: 20px;
}
.desc{
    width: 20px;
    transform: rotate(180deg);
}
#meanscoreplace{
    text-align: left;
    font-size: 30px;
}
.season, .type{
    width: 11%;
}
.img{
    width: 8%;
    text-align: left;
}
.img img{
    height: 150px;
    vertical-align: middle;
}
.number{
    width: 7%;
}
.title, .alttitle{
    width:25%;
}
.mal_rating{
    width:13%
}
#firsttable{
    width: 3vw;
}
#mainTable{
    width:97vw;
}
.celltable{
    width: 100%;
}

